@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: "貂明朝", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif; /* フォールバックを追加 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
}

.font-cho {
  font-family: "a-otf-ud-reimin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
}
