@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: "貂明朝", serif; /* Adobe Fontsでの貂明朝の指定 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body); /* 貂明朝を全体に適用 */
}
